.nySwiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  margin-bottom: 32px;
  background-color: red;

  @media screen and (min-width: 768px) {
    padding-top: 56px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1440px) {
    padding-top: 53px;
    padding-bottom: 43px;
  }
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: flex-start !important;
  max-height: 100% !important;
  height: 328px !important;
  font-size: 18px;
  border-radius: 12px;
  color: #1d1c1c !important;

  background-color: #fff9f7 !important;
  background-image: url('../../../public/slider/bg-slide-img.png');
  /* background-size: calc(100% - 40px); */
  background-repeat: no-repeat;
  background-position: center 24px;

  @media screen and (min-width: 768px) {
    width: 202px !important;
    height: 192px !important;
  }

  @media screen and (min-width: 1440px) {
    width: 282px !important;
    height: 102px !important;
  }
}

.swiper-slide-active {
  position: relative !important;
  z-index: 1000 !important;
}

.swiper-slide-active div {
  padding: 24px 32px !important;

  @media screen and (min-width: 768px) {
    display: flex !important;
    align-items: center !important;
    max-width: 100% !important;
    max-height: 100% !important;
    width: 344px !important;
    height: 280px !important;
    border-radius: 12px !important;
    font-size: 16px !important;
    color: #1d1c1c !important;
    background-color: #fff9f7 !important;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);

    /* background-image: url('../../../public/slider/bg-slide-img.png');
    background-size: calc(100% - 40px);
    background-repeat: no-repeat;
    background-position: center 20px; */

    position: absolute !important;
    top: 48% !important;
    left: 50% !important;
    z-index: 1000 !important;

    transform: translate(-50%, -50%) !important;
    transition: translate 0.3s !important;
  }

  @media screen and (min-width: 1440px) {
    width: 488px !important;
    height: 312px !important;
  }
}

.swiper-slide-active div div {
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-bottom: 32px;
  font-family: 'Caveat-400', sans-serif;
  font-size: 32px;

  position: initial !important;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  margin: 0 7px !important;
  border: 1px solid #ff9800;
  background-color: transparent !important;
}

.swiper-pagination-bullet-active {
  background-color: #ff9800 !important;
}
