@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: TTChocolates-400, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #fff9f7;
}

@font-face {
  font-family: 'Caveat-400';
  src: url('../fonts/Caveat/Caveat-Regular-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TTChocolates-700';
  src: url('../fonts/TTChocolatesTrl/TT-Chocolates-Trial-Bold-700.otf')
    format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TTChocolates-500';
  src: url('../fonts/TTChocolatesTrl/TT-Chocolates-Trial-Medium-500.otf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TTChocolates-400';
  src: url('../fonts/TTChocolatesTrl/TT-Chocolates-Trial-Regular-400.otf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}

.bg-image {
  background-image: linear-gradient(
      rgba(255, 249, 247, 0.7),
      rgba(255, 249, 247, 0.7)
    ),
    url('../../modules/Price/img/price_bg320@1x.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media only screen and (min-device-pixel-ratio: 2),
  only screen and (min-resolution: 192dpi),
  only screen and (min-resolution: 2dppx) {
  .bg-image {
    background-image: linear-gradient(
        rgba(255, 249, 247, 0.7),
        rgba(255, 249, 247, 0.7)
      ),
      url('../../modules/Price/img/price_bg320@2x.jpg');
  }
}

@media only screen and (min-width: 768px) {
  .bg-image {
    background-image: linear-gradient(
        rgba(255, 249, 247, 0.7),
        rgba(255, 249, 247, 0.7)
      ),
      url('../../modules/Price/img/price_bg768@1x.jpg');
  }

  @media only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .bg-image {
      background-image: linear-gradient(
          rgba(255, 249, 247, 0.7),
          rgba(255, 249, 247, 0.7)
        ),
        url('../../modules/Price/img/price_bg768@2x.jpg');
    }
  }
}

@media only screen and (min-width: 1440px) {
  .bg-image {
    background-image: linear-gradient(
        rgba(255, 249, 247, 0.7),
        rgba(255, 249, 247, 0.7)
      ),
      url('../../modules/Price/img/price_bg1440@1x.jpg');
  }

  @media only screen and (min-device-pixel-ratio: 2),
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .bg-image {
      background-image: linear-gradient(
          rgba(255, 249, 247, 0.7),
          rgba(255, 249, 247, 0.7)
        ),
        url('../../modules/Price/img/price_bg1440@2x.jpg');
    }
  }
}
