@tailwind base;
@tailwind components;
@tailwind utilities;
@import './background';

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration-skip-ink: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

body {
  font-family: TTChocolates-400, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #fff9f7;
}

@font-face {
  font-family: 'Caveat-400';
  src: url('../fonts/Caveat/Caveat-Regular-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TTChocolates-700';
  src: url('../fonts/TTChocolatesTrl/TT-Chocolates-Trial-Bold-700.otf')
    format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'TTChocolates-500';
  src: url('../fonts/TTChocolatesTrl/TT-Chocolates-Trial-Medium-500.otf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TTChocolates-400';
  src: url('../fonts/TTChocolatesTrl/TT-Chocolates-Trial-Regular-400.otf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}

body .css-tj5bde-Svg {
  width: 24px;
  height: 24px;
}
