.nySwiper {
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  margin-bottom: 32px;

  @media screen and (min-width: 768px) {
    padding-top: 71px;
    padding-bottom: 37px;
  }

  @media screen and (min-width: 1440px) {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.swiper-slide {
  display: flex !important;
  justify-content: center !important;
  align-items: flex-start !important;
  height: 328px !important;
  border-radius: 12px;
  color: #1d1c1c !important;

  background-color: #fff9f7 !important;
  background-image: url('../../../public/slider/bg-slide-img.png');
  background-size: calc(100% - 80px);
  background-repeat: no-repeat;
  background-position: center 24px;

  div {
    width: 100% !important;

    p {
      margin-top: 64px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 202px !important;
    height: 172px !important;
    background-size: calc(100% - 64px);
    background-position: center 30px;

    div {
      padding: 40px 32px !important;

      p {
        margin-top: 32px;
        font-size: 14px !important;
        line-height: 1.42 !important;
      }
    }
  }

  @media screen and (min-width: 1440px) {
    width: 282px !important;
    height: 172px !important;
  }
}

.swiper-slide-active {
  position: relative !important;
  z-index: 1000 !important;
}

.swiper-slide-active div {
  padding: 24px 32px !important;

  p {
    font-size: 16px !important;
    line-height: 1.5 !important;
  }

  @media screen and (min-width: 768px) {
    max-width: 139% !important;
    max-height: 135% !important;
    width: 344px !important;
    height: 280px !important;

    border-radius: 12px !important;

    color: #1d1c1c !important;
    background-color: #fff9f7 !important;
    box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.25);

    background-image: url('../../../public/slider/bg-slide-img.png');
    background-size: calc(100% - 60px);
    background-repeat: no-repeat;
    background-position: center 24px;

    position: absolute !important;
    top: 40% !important;
    left: 50% !important;
    z-index: 1000 !important;

    transform: translate(-50%, -50%) !important;
    transition: translate 0.3s !important;

    p {
      margin-top: 64px !important;
    }
  }

  @media screen and (min-width: 1440px) {
    max-width: 150% !important;
    max-height: 153% !important;
    width: 488px !important;
    height: 312px !important;

    background-position: center 40px;
    background-size: calc(100% - 60px) 32px;

    top: 50% !important;

    p {
      font-size: 18px !important;
      line-height: 1.55 !important;
    }
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  margin-bottom: 32px;
  font-family: 'Caveat-400', sans-serif;
  font-size: 32px;

  position: initial !important;
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  margin: 0 7px !important;
  border: 1px solid #ff9800;
  background-color: transparent !important;
}

.swiper-pagination-bullet-active {
  background-color: #ff9800 !important;
}
